{% extends 'app/base.html' %}
{% load static %}

{% block title %}Django Ajax CRUD{% endblock %}

{% block body %}
<div class="container">
    <h1>Django Ajax CRUD</h1>
    <div class="row">
      <div class="col-md-4 ">
        <h3>ADD Person</h3>
        <form id="addPerson" action="">
          <div class="form-group">
            <input class="form-control" type="text" name="first_name" placeholder="First name" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="last_name" placeholder="Last name" required>
          </div>
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="col-md-8">
        <h3>People</h3>
        <table id="personTable" class="table table-striped">
          <tr>
            <th class="text-center">First name</th>
            <th class="text-center">Last name</th>
            <th class="text-center">Actions</th>
          </tr>
          {% if people %}
          {% for person in people %}
          <tr id="person-{{person.id}}">
              <td class="personFirst_name personData text-center" name="first_name">{{person.first_name}}</td>
              <td class="personLast_name personData text-center" name="last_name">{{person.last_name}}</td>
              <td class="text-center">
                  <a class="btn" onClick="editPerson({{person.id}})" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-edit fa-lg ollapsed"></i>
                  </a>
                  |
                  <a class="btn" data-toggle="modal" data-target="#MyDeleteModal">
                    <i class="fa fa-trash fa-lg ollapsed"></i>
                  </a>
              </td>
          </tr>
          {% endfor %}
          {% else %}
            No People
          {% endif %}
        </table>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Update Person</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <form id="updatePerson" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="first_name">First name</label>
            <input class="form-control" id="form-first-name" type="text" name="formFirst_name"/>
            <label for="last_name">Last name</label>
            <input class="form-control" id="form-last-name" type="text" name="formLast_name"/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal Delete -->
    <div class="modal fade" id="MyDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <form id="deletePerson" action="">
                  <div class="modal-header">
                      <h5>Delete Person</h5>
                      <button type="button" class="close" data-dismiss="modal">x</button>
                  </div>
                  <div class="panel panel-default">
                      <div class="modal-body">
                              Are you sure you want to delete this person?
                      </div>    
                  </div>
                  <div class="modal-footer">
                      <button onClick="deletePerson({{person.id}})" class="btn btn-danger">Delete</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </form>
          </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
// Create Django Ajax Call
$("form#addPerson").submit(function() {
    var first_nameInput = $('input[name="first_name"]').val().trim();
    var last_nameInput = $('input[name="last_name"]').val().trim();
    if (first_nameInput && last_nameInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "create" %}',
            data: {
                'first_name': first_nameInput,
                'last_name': last_nameInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.person) {
                  appendToUsrTable(data.person);
                }
            }
        });
      } else {
        alert("All fields must have a valid value.");
    }
    $('form#addPerson').trigger("reset");
    return false;
});
function appendToUsrTable(person) {
  $("#personTable > tbody:last-child").append(`
        <tr id="person-${person.id}">
            '<td class="personFirst_name personData text-center" name="first_name">${person.first_name}</td>
            '<td class="personLast_name personData text-center" name="last_name">${person.last_name}</td>
            '<td class="text-center">
                <a class="btn" onClick="editPerson(${person.id})" data-toggle="modal" data-target="#myModal")">
                  <i class="fa fa-edit fa-lg ollapsed"></i>
                </a>
                |
                <a class="btn" data-toggle="modal" data-target="#MyDeleteModal">
                  <i class="fa fa-trash fa-lg ollapsed"></i>
                </a>
            </td>
        </tr>
    `);
}

// Create Django Ajax Call
$("form#updatePerson").submit(function() {
    var idInput = $('input[name="formId"]').val().trim();
    var first_nameInput = $('input[name="formFirst_name"]').val().trim();
    var last_nameInput = $('input[name="formLast_name"]').val().trim();
    if (first_nameInput && last_nameInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "update" %}',
            data: {
                'id': idInput,
                'first_name': first_nameInput,
                'last_name': last_nameInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.person) {
                  updateToPersonTabel(data.person);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updatePerson').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});

// Update Django Ajax Call
function editPerson(id) {
  if (id) {
    tr_id = "#person-" + id;
    first_name = $(tr_id).find(".personFirst_name").text();
    last_name = $(tr_id).find(".personLast_name").text();
    $('#form-id').val(id);
    $('#form-first-name').val(first_name);
    $('#form-last-name').val(last_name);
  }
}
function updateToPersonTabel(person){
    $("#personTable #person-" + person.id).children(".personData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "first_name") {
          $(this).text(person.first_name);
        } else if (attr == "last_name") {
          $(this).text(person.last_name);
        }
      });
}

// Delete Django Ajax Call
function deletePerson(id) {
    $.ajax({
        url: '{% url "delete" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#personTable #person-" + id).remove();
            }
        }
    });
};
</script>
{% endblock javascript %}